<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>raphaelcpinto@gmail.com</string>
	<key>contactName</key>
	<string>Raphael Pinto</string>
	<key>description</key>
	<string>Support for FeatWS language used for write rules in &lt;a href="https://github.com/bancodobrasil/featws"&gt;FeatWS&lt;/a&gt;.</string>
	<key>name</key>
	<string>FeatWS</string>
	<key>uuid</key>
	<string>EADA36EC-D580-434B-AC85-B070CEE5BFE8</string>
</dict>
</plist>
